

<div class="planes_text_style">
<!--//////////////////////----------->
<!--//////////////////////----------->
<!--//////////////////////----------->
<!--         ESTATUS        --------->
<!--//////////////////////----------->
<!--//////////////////////----------->
<!--//////////////////////----------->
<div class="row_cute">
    <div class="cute-3-phone planes_mensuales_cuadro_estatus left">
        <div class="planes_estatus_texto" id="planes_mensuales_tuplan">Tu Plan: Básico </div>
        <div class="planes_estatus_texto" id="planes_mensuales_tustimbres">Timbres disponibles: 3 de 15</div>
        <div class="planes_estatus_texto" id="planes_mensuales_vencimiento">Vencimiento: 19 de Septiembre de 2018</div>

    </div>
</div>
<!--//////////////////////----------->
<!--//////////////////////----------->
<!--//////////////////////----------->
<!--         Planes       ----------->
<!--//////////////////////----------->
<!--//////////////////////----------->
<!--//////////////////////----------->
<div class="row_cute">
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--         Plan AdminSAT       ---->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <div class="cute-2-phone left planes_mensuales_cuadro">
        <center>
            <div class="planes_circulo">
                <p class="planes_mensuales_titulo">AdminSAT</p>
                <p class="planes_mensuales_precio">$99</p>
                <p class="planes_mensuales_iva">Pesos/Mes + IVA</p>
            </div>
            <p class="planes_mensuales_timbres"><b>Sin timbres incluidos</b></p>

            <%= image_tag("/img/linea_planes.png", :alt => "rss feed", class:"linea_timbres_sin") %>

            <p class="planes_mensuales_lista" id="planes_mensuales_lista_chico">
                Sincroniza Automáticamente y Administra todos tus CFDIs
            </p>
            <p class="planes_mensuales_lista_titulo">
              Sincroniza con el SAT:
            </p>
                <ul class="planes_mensuales_lista mensuales_lista_margen">
                    <li>Facturas emitidas y recibidas</li>
                    <li>Complementos de pago emitidos y recibidos</li>
                </ul>
                <p class="planes_mensuales_lista_titulo" >
                  AdminSAT te permite:
                </p>
                <ul class="planes_mensuales_lista mensuales_lista_margen" >
                  <li>Enviar solicitudes de cancelación a tus clientes</li>
                  <li>Responder solicitudes de cancelación de proveedores</li>
                  <li>Descargar masivamente tus CFDIs emitidos y recibidos </li>
                  <li>Generar reportes</li>
                </ul>

            <center><a href="metodo_pago.html" class="planes_boton_azul bottom_boton">Elegir</a></center>
        </center>
    </div>
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--         Plan Basico        ----->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <div class="cute-2-phone planes_mensuales_cuadro">
        <center>
            <div class="planes_circulo">
                <p class="planes_mensuales_titulo">Básico</p>
                <p class="planes_mensuales_precio">$99</p>
                <p class="planes_mensuales_iva">Pesos/Mes + IVA</p>
            </div>

            <p class="planes_mensuales_timbres">Timbres: <b>15</b> <br> Usuarios Incluidos: 1</p>
            <%= image_tag("/img/linea_planes.png", :alt => "rss feed", class:"linea_timbres") %>
            <ul class="planes_mensuales_lista">
              <li>Timbres Adicionales $4.00c/u</li>
                <li>Módulo de Facturación</li>
                <li>Módulo de Nóminas</li>
                <li>Complemento de Pagos</li>
                <li>Cotizaciones</li>
                <li>Reportes</li>
                <li>Gastos</li>
                <li>Catálogo de clientes y productos</li>
            </ul>
            <div class="planes_seccion_anade">
                <a class="tooltip_planes" title="Importa automáticamente desde el SAT todas tus facturas o complementos de pago emitidos y recibidos. <br />Envía y responde fácilmente las solicitudes de cancelación que emites o recibes.">
                    <p class="planes_anadir_texto">Añadir</p>
                    <hr class="linea_gris_planes">
                    <label class="switch_verde planes_mensuales_boton">
          <input id="switch_plan_basico" type="checkbox">
          <span class="slider_verde round"></span>
        </label>
                    <p class="planes_anadir_texto planes_adminSAT"><b>AdminSAT</b></p>
                    <p class="planes_anadir_texto planes_adminSAT_descripcion">Sincroniza y Administra todos tus CFDIs +$99</p>
                </a>
            </div>
            <center><a href="metodo_pago.html" class="planes_boton_azul bottom_boton">Elegir</a></center>
        </center>
    </div>
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--         Plan Mipyme        ----->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <div class="cute-2-phone planes_mensuales_cuadro">
        <center>
            <div class="planes_circulo">
                <p class="planes_mensuales_titulo">Mipyme</p>
                <p class="planes_mensuales_precio">$199</p>
                <p class="planes_mensuales_iva">Pesos/Mes + IVA</p>
            </div>

            <p class="planes_mensuales_timbres">Timbres: <b> 50</b> <br> Usuarios Incluidos: 1</p>
            <%= image_tag("/img/linea_planes.png", :alt => "rss feed", class:"linea_timbres") %>
            <ul class="planes_mensuales_lista">
                <li>Timbres Adicionales $4.00c/u</li>
                <li>Módulo de Facturación</li>
                <li>Módulo de Nóminas</li>
                <li>Complemento de Pagos</li>
                <li>Cotizaciones</li>
                <li>Reportes</li>
                <li>Gastos</li>
                <li>Catálogo de clientes y productos</li>
                <li>Nóminas Recurrentes</li>
                <li>Gráfica Comparativa de Facturación</li>
                <li>Validación de CFDIs ante el SAT</li>

            </ul>
            <div class="planes_seccion_anade">
                <a class="tooltip_planes" title="Importa automáticamente desde el SAT todas tus facturas o complementos de pago emitidos y recibidos. <br />Envía y responde fácilmente las solicitudes de cancelación que emites o recibes.">
                    <p class="planes_anadir_texto">Añadir</p>
                    <hr class="linea_gris_planes">
                    <label class="switch_verde planes_mensuales_boton">
          <input id="switch_plan_mipyme" type="checkbox">
          <span class="slider_verde round"></span>
        </label>
                    <p class="planes_anadir_texto planes_adminSAT"><b>AdminSAT</b></p>
                    <p class="planes_anadir_texto planes_adminSAT_descripcion">Sincroniza y Administra todos tus CFDIs +$99</p>
                </a>
            </div>
            <center><a href="metodo_pago.html" class="planes_boton_azul bottom_boton">Elegir</a></center>
        </center>
    </div>
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--         Plan Empresarial     --->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <div class="cute-2-phone planes_mensuales_cuadro">
        <center>
            <div class="planes_circulo">
                <p class="planes_mensuales_titulo">Empresarial</p>
                <p class="planes_mensuales_precio">$299</p>
                <p class="planes_mensuales_iva">Pesos/Mes + IVA</p>
            </div>

            <p class="planes_mensuales_timbres">Timbres: <b>Ilimitados</b> <br> Usuarios Incluidos: 1</p>
            <%= image_tag("/img/linea_planes.png", :alt => "rss feed", class:"linea_timbres") %>
            <ul class="planes_mensuales_lista">
              <li>Módulo de Facturación</li>
              <li>Módulo de Nóminas</li>
              <li>Complemento de Pagos</li>
              <li>Cotizaciones</li>
              <li>Reportes</li>
              <li>Gastos</li>
              <li>Catálogo de clientes y productos</li>
                <li>Nóminas Recurrentes</li>
                <li>Gráfica Comparativa de Facturación</li>
                <li>Validación de CFDIs ante el SAT</li>

            </ul>
            <div class="planes_seccion_anade">
                <a class="tooltip_planes" title="Importa automáticamente desde el SAT todas tus facturas o complementos de pago emitidos y recibidos. <br />Envía y responde fácilmente las solicitudes de cancelación que emites o recibes.">
                    <p class="planes_anadir_texto">Añadir</p>
                    <hr class="linea_gris_planes">
                    <label class="switch_verde planes_mensuales_boton">
          <input id="switch_plan_empresarial" type="checkbox">
          <span class="slider_verde round"></span>
        </label>
                    <p class="planes_anadir_texto planes_adminSAT"><b>AdminSAT</b></p>
                    <p class="planes_anadir_texto planes_adminSAT_descripcion">Sincroniza y Administra todos tus CFDIs +$99</p>
            </div>
            </a>
            <center><a href="metodo_pago.html" class="planes_boton_azul bottom_boton">Elegir</a></center>
        </center>
    </div>
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!-- Plan Empresarial Premium ------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <!--//////////////////////----------->
    <div class="cute-2-phone planes_mensuales_cuadro_naranja left">
        <center>
          <%= image_tag("/img/banner_planes.png", :alt => "rss feed", style:  "width: 60px", id:"banner_planes") %>
            <p id="banner_planes_texto">Este <br>plan <br>incluye <br>todo</p>
            <div class="planes_circulo_naranja">
                <p class="planes_mensuales_titulo_naranja">Empresarial Premium</p>
                <p class="planes_mensuales_precio_naranja">$399</p>
                <p class="planes_mensuales_iva_naranja">Pesos/Mes + IVA</p>
            </div>

            <p class="planes_mensuales_timbres_naranja">Timbres: <b>Ilimitados</b>  <br> Usuarios Incluidos: 3</p>
            <%= image_tag("/img/linea_blanca.png", :alt => "rss feed", class:  "linea_timbres") %>
            <ul class="planes_mensuales_lista_naranja">
              <li>Módulo de Facturación</li>
              <li>Módulo de Nóminas</li>
              <li>Complemento de Pagos</li>
              <li>Cotizaciones</li>
              <li>Reportes</li>
              <li>Gastos</li>
              <li>Catálogo de clientes y productos</li>
                <li>Nóminas Recurrentes</li>
                <li>Gráfica Comparativa de Facturación</li>
                <li>Validación de CFDIs ante el SAT</li>
                <li id="mensuales_li_especial">AdminSAT</li>
                <li>Usuarios Adicionales</li>
            </ul>

            <center><a href="metodo_pago.html" class="planes_boton_naranja bottom_boton">Elegir</a></center>
        </center>
    </div>
</div>
</div>
