<!DOCTYPE html>
<html>
  <head>
    <title>Pruebas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://unpkg.com/tippy.js@2.5.4/dist/tippy.all.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <%= insert_paloma_hook %>
  </body>
</html>

<script>
$(document).ready(function(){
  Paloma.start();
});
</script>
